/* common rules*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#site_header{
    position: relative;
    width: 100vw;
    height: 600px;
    /* background-color: cornflowerblue; */
    background-image: url(../img/jumbo.png);
    background-size: contain;
}

.logo{
    width: 120px;
    margin-right: 50px;
    float: left;
    
}

.navbar{
    position: absolute;
    width: 70%;
    height: 60px;
    /* background-color: pink; */
    left: 15%;
    
}



.navigation{

    color:white;
    font-weight: 500;
    float:left;
    margin-top: 25px;
    margin-left: 5%;

}

.list {
    list-style: none;
  }
  
.list>li {
    display: inline-block;
    padding-right: 8pxs;

}

.list a{
    margin-right: 40px;
}


.accedi{
    border:none;
    text-align: center;
    float:right;
    margin-top: 20px;
    padding:7px 12px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    

}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    position: absolute;
    width: 70%;
    height: 300px;
    background-color: palevioletred;
    left:15%;
    bottom: 15%;

}

.navbar{
    position: absolute;
    width: 70%;
    height: 60px;
    /* background-color: pink; */
    left: 15%;
    
}

.navigation{
    text-align: center;
}

/* main */

#site_main{
    background-color: aquamarine;
    position: relative;
    width: 100vw;
    height: 600px;

}

.section1{
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: rgb(112, 216, 155);
    left:15%;
    bottom: 0;
}

.bigbox{
    position:absolute;
    width: 70%;
    height: 100%;
    background-color: rgb(155, 125, 224);
    /* left:15%; */
    bottom: 0;
    z-index: 4;

}

.littlebox{
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: rgb(213, 219, 120);
    bottom: 0;
    z-index: 4;
    right: 0;

}

.section2{
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: rgb(17, 20, 18);
    left:15%;
    bottom: 0;

}

#site_footer{
    background-color: blue;
    height: 60px;
    
}