/* common rules*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#site_header{
    position: relative;
    width: 100vw;
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.logo{
    width: 120px;
    margin-right: 50px;
    float: left;
    margin-top: 20px;
    
}

.navbar{
    position: absolute;
    width: 70%;
    height: 60px;
    /* background-color: pink; */
    left: 15%;
    
}




.navigation{

    color:white;
    font-weight: 500;
    float:left;
    margin-top: 25px;
    margin-left: 5%;

}

.list {
    list-style: none;
  }
  
.list>li {
    display: inline-block;
    padding-right: 8pxs;

}

.list a{
    margin-right: 40px;
}


.accedi{
    border:none;
    text-align: center;
    float:right;
    margin-top: 20px;
    padding:7px 12px;
    border-radius: 20px;
    font-weight: 500;
    

}



.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    position: absolute;
    width: 70%;
    height: 340px;
    /* background-color: palevioletred; */
    left:15%;
    bottom: 15%;

}

.navbar{
    position: absolute;
    width: 70%;
    height: 60px;
    /* background-color: pink; */
    left: 15%;
    
}

.navigation{
    text-align: center;
}

.container p:first-child{
    color:white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.container p{
    color:white;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    line-height: 1.5;
    margin-top: 20px;
}

.download{
    border:none;
    text-align: center;
    position: absolute;
    left:28%;
    margin-top: 20px;
    padding:12px 27px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;

}

.arrow{
    font-weight: bold;
}

.open_discord{
    border:none;
    text-align: center;
    position: absolute;
    right: 283px;
    margin-top: 20px;
    padding:12px 27px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    background-color: #23272A;
    color: white;

}


/* main */


/**********
section1
*/

#site_main{
    /* background-color: aquamarine; */
    position: relative;
    width: 100vw;
    height: 700px;

}

.section1{
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: white;
    left:15%;
    bottom: 0;
}

.bigbox{
    position:absolute;
    width: 70%;
    height: 100%;
    /* background-color: rgb(155, 125, 224); */
    /* left:15%; */
    bottom: 0;
    z-index: 4;

}

.littlebox{
    position: absolute;
    width: 30%;
    height: 100%;
    /* background-color: rgb(213, 219, 120); */
    bottom: 0;
    z-index: 4;
    right: 0;

}


.littlebox p:first-child{
    color:#23272A;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    margin-top: 42%;
    line-height: 1.2;

}

.section1 p{
    color:#23272A;
    font-size: 16px;
    text-align: left;
    margin-top: 42%;
    line-height: 1.5;
    margin-top: 10%;

}
.section1 img{
    width: 520px;
    margin-top: 15%;
}





/* .section2{
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: rgb(17, 20, 18);
    left:15%;
    bottom: 0;

} */

#site_footer{
    background-color: blue;
    height: 60px;
    
}